
@{ ViewBag.Title = "Add"; }



@model  TestWeb.Models.EmployeeQualification


@using (Html.BeginForm())
{
@Html.AntiForgeryToken()
                <h2>Thêm nhân viên mới</h2>
                <div class="form-horizontal">

                    <div class="form-group">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                     @*   @Html.Hidden("EmployeeId", new {@value = ViewBag.Id })*@
                        @*@if (ViewBag.Success != null)
        {<div class="alert  alert-success">@ViewBag.Success</div>}
        @if (ViewBag.isValid != true)
        {<div class="alert  alert-success">@ViewBag.Success</div>}*@
                    </div>

                    <hr />

                    <div>
                        <div class="form-group">
                            @Html.Label("QualificationId", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("QualificationId", (IEnumerable<SelectListItem>)ViewBag.qualificationId, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.QualificationId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.Label("Institution", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("Institution", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Institution", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.Label("Note", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextArea("Note", new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessage("Note", "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Add" class="btn btn-default" />
                        </div>
                    </div>
                </div>}
<button>
    @Html.ActionLink("Hủy bỏ", "Index", "Home")
</button>