
@{ ViewBag.Title = "Add"; }

@model  TestWeb.Models.EmployeeQualification

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/common/common.css" rel="stylesheet" />
<link href="~/assets/css/common/grid.css" rel="stylesheet" />
<link href="~/assets/css/common/button.css" rel="stylesheet" />
<link href="~/assets/css/common/input.css" rel="stylesheet" />
<link href="~/assets/css/pages/employee.css" rel="stylesheet" />
<div class="container">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="content">
            <div class="content-header">
            </div>
            <div class="content-body">
                <form>
                    <div class="g-form-group">
                        @Html.Label("Name", htmlAttributes: new { @class = "g-control-label" })
                        <div class="group-input">
                            @Html.DropDownList("QualificationId", (IEnumerable<SelectListItem>)ViewBag.qualificationId, new { htmlAttributes = new { @class = "form-control" }, required = "required", style = "max-width:100%; width:100%;height:35px;" })
                            @Html.ValidationMessageFor(model => model.QualificationId, "", new { @class = "text-danger" })
                        </div>
                    </div>


                    <div class="g-form-group">
                        @Html.Label("Institution", htmlAttributes: new { @class = "g-control-label" })
                        <div class="group-input">
                            @Html.TextBox("Institution", "", new { htmlAttributes = new { @class = "form-control" }, required = "required", style = "max-width:100%; width:100%;height:35px;" })
                            @Html.ValidationMessage("Institution", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="g-form-group">
                        @Html.Label("Note", htmlAttributes: new { @class = "g-control-label" })
                        <div class="group-input">
                            @Html.TextArea("Note", "", new { htmlAttributes = new { @class = "form-control" }, style = "max-width:100%" })
                            @Html.ValidationMessage("Note", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <hr />
                    <div class="container-date">
                        <div id="valid-from">
                            @Html.Label("ValidFrom", htmlAttributes: new { @class = "g-control-label" })
                            <div class="group-input">
                                <input name="ValidFrom" id="ValidFrom" class="form-control" type="date" required="required" style="max-width:100%" />
                            </div>
                        </div>
                        <div id="valid-to">
                            @Html.Label("ValidTo", htmlAttributes: new { @class = "g-control-label" })
                            <div class="group-input">
                                <input name="ValidTo" id="ValidTo" class="form-control" type="date" required="required" style="max-width:100%" />
                            </div>
                        </div>

                    </div>
                </form>

                <hr />
            </div>
            <div class="paging paging-content">
                <div class="btn-container">
                    <button id="btn-cancel">
                        <a href="@Url.Action("Edit","Employees",
                                    new { id = ViewBag.id , firstName = ViewBag.firstName, middleName =  ViewBag.middleName, lastname =ViewBag.lastName, birthDate = ViewBag.birthDate})">Cancel</a>
                    </button>
                    <input type="submit" value="Accept" id="btn-accept" style="color:#fff; background-color:#0088c1" />
                </div>
            </div>
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function () {

                $("form").submit(function () {
                    alert("Add Qualification Success!!!");
                  
                });
     
            });
        </script>
    }
</div>