
@{ ViewBag.Title = "Edit"; }


@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TestWeb.Models.ListQualification>
<html>
<head>
    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/common/common.css" rel="stylesheet" />
    <link href="~/assets/css/common/grid.css" rel="stylesheet" />
    <link href="~/assets/css/common/button.css" rel="stylesheet" />
    <link href="~/assets/css/common/input.css" rel="stylesheet" />
    <link href="~/assets/css/common/icon.css" rel="stylesheet" />
    <link href="~/assets/css/pages/employee.css" rel="stylesheet" />


    <link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="container">
        @using (Html.BeginForm("Edit", "Employees", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="content">
                <!--Edit Enployee-->
                <div class="content-header">
                    @ViewBag.fullName
                </div>
                <div class="content-body">
                    <form action="Employees/Edit" method="post">
                       
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="g-form-group">
                            @Html.Label("FirstName", htmlAttributes: new { @class = "g-control-label" })
                            <div class="group-input">
                                @Html.Editor("FirstName", new { htmlAttributes = new { @class = "form-control", required = "required", style = "max-width:100%" } })
                                @Html.ValidationMessage("FirstName", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="g-form-group">
                            @Html.Label("MiddleName", htmlAttributes: new { @class = "g-control-label" })
                            <div class="group-input">
                                @Html.Editor("MiddleName", new { htmlAttributes = new { @class = "form-control", @value = ViewBag.middleName, style = "max-width:100%" } })
                                @Html.ValidationMessage("MiddleName", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="g-form-group">
                            @Html.Label("LastName", htmlAttributes: new { @class = "g-control-label" })
                            <div class="group-input">
                                @Html.Editor("LastName", new { htmlAttributes = new { @class = "form-control", @value = ViewBag.lastName, required = "required", style = "max-width:100%" } })
                                @Html.ValidationMessage("LastName", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="g-form-group">
                            @Html.Label("Gender", htmlAttributes: new { @class = "g-control-label" })
                            <div class="group-input">
                                @Html.DropDownList("Gender", new List<SelectListItem>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            {
                                new SelectListItem{ Text="Male", Value="Male"},
                                new SelectListItem{ Text="Female", Value="Female"} }, new { @class = "form-control", @value = ViewBag.gender, style = "max-width:100%" })
                                @Html.ValidationMessage("Gender", "", new { @class = "text-danger" })

                            </div>
                        </div>
                        <div class="g-form-group">
                            @Html.Label("Email", htmlAttributes: new { @class = "g-control-label" })
                            <div class="group-input">
                                @Html.Editor("Email", new { htmlAttributes = new { @class = "form-control", style = "max-width:100%" } })
                                @Html.ValidationMessage("Email", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="g-form-group">
                            @Html.Label("BirthDate", htmlAttributes: new { @class = "g-control-label" })
                            <div class="group-input">
                                <input name="BirthDate" id="BirthDate" class="form-control" type="date" value="@ViewBag.birthDate" style="max-width:100%" />
                            </div>
                        </div>
                        <div class="g-form-group">
                            @Html.Label("Note", htmlAttributes: new { @class = "g-control-label" })
                            <div class="group-input">
                                @Html.TextArea("Note", new { htmlAttributes = new { @class = "form-control" }, style = "max-width:100%" })
                                @Html.ValidationMessage("Note", "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <hr />
                        <hr />
                    </form>
                </div>

                <div class="paging paging-content">
                    <div class="btn-container">
                        <button id="btn-cancel">

                            @Html.ActionLink("Cancel", "Index")
                        </button>

                        <input type="submit" name="submit" value="Accept" id="Add" style="color:#fff; background-color:#0088c1" />



                    </div>


                </div>
            </div><!--Edit Enployee-->
            <hr />

            <div class="content">
                <!--List Qualification of Employee-->

                <div class="content-header">
                    <div class="content-header-text">Qualifications</div>
                    <button class="btn-content-header" data-toggle="modal" data-target="#myModal">
                        Add
                      

                        @* @Html.ActionLink("ADD", "Add", "Qualifications", new { id = ViewBag.id, firstName = ViewBag.firstName, middleName = ViewBag.middleName, lastname = ViewBag.lastName, birthDate = ViewBag.birthDate }, null)*@
                    </button>
                    <div class="container">
                       
                        <div class="modal fade" id="myModal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                       
                                        <a href="#" class="close" data-dismiss="modal">&times;</a>
                                    </div>
                                    <div class="modal-body">
                                        @using (Html.BeginForm("AddQ", "Employees", FormMethod.Post))
                                        {
                                            @Html.AntiForgeryToken()

                                            <div class="content" style="color:black;">
                                                <div class="content-header">
                                                </div>
                                                <div class="content-body">
                                                    <form id="form" name="certform" action="Employees/Edit" method="post">
                                                        <input name="EmployeeId" id="EmployeeId" class="form-control" type="hidden" value="@ViewBag.id" />
                                                        <input name="FirstName" id="FirstName" class="form-control" type="hidden" value="@ViewBag.firstName" />
                                                        <input name="LastName" id="LastName" class="form-control" type="hidden" value="@ViewBag.lastName" />
                                                        <input name="MiddleName" id="MiddleName" class="form-control" type="hidden" value="@ViewBag.middleName" />
                                                        <input name="Gender" id="Gender" class="form-control" type="hidden" value="@ViewBag.gender" />
                                                        <input name="Note" id="Note" class="form-control" type="hidden" value="@ViewBag.note" />
                                                        <input name="Email" id="Email" class="form-control" type="hidden" value="@ViewBag.email" />
                                                        <input name="BirthDate" id="BirthDate" class="form-control" type="hidden" value="@ViewBag.birthDate" />
                                                        <div class="form-group">
                                                            @Html.Label("Name", htmlAttributes: new { @class = "g-control-label" })
                                                            <div class="group-input">
                                                                @Html.DropDownList("QualificationId", (IEnumerable<SelectListItem>)ViewBag.qualificationId, new { htmlAttributes = new { @class = "form-control" }, required = "required", style = "max-width:100%; width:100%;height:35px;" })
                                                                @Html.ValidationMessage("QualificationId", "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.Label("Institution", htmlAttributes: new { @class = "g-control-label" })
                                                            <div class="group-input">
                                                                @Html.TextBox("Institution", "", new { htmlAttributes = new { @class = "form-control" }, required = "required", style = "max-width:100%; width:100%;height:35px;" })
                                                                @Html.ValidationMessage("Institution", "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.Label("City", htmlAttributes: new { @class = "g-control-label" })
                                                            <div class="group-input">
                                                                @Html.TextBox("City", "", new { htmlAttributes = new { @class = "form-control" }, style = "max-width:100%; width:100%;height:35px;" })
                                                                @Html.ValidationMessage("City", "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            @Html.Label("NoteQualification", htmlAttributes: new { @class = "g-control-label" })
                                                            <div class="group-input">
                                                                @Html.TextArea("NoteQualification", "", new { htmlAttributes = new { @class = "form-control", @value = "" }, style = "max-width:100%" })
                                                                @Html.ValidationMessage("NoteQualification", "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                        <div class="container-date">
                                                            <div id="valid-from">
                                                                @Html.Label("ValidFrom", htmlAttributes: new { @class = "g-control-label" })
                                                                <div class="group-input">
                                                                    <input name="ValidFrom" id="ValidFrom" class="form-control" type="date" required="required" style="max-width:100%" />
                                                                </div>
                                                            </div>
                                                            <div id="valid-to">
                                                                @Html.Label("ValidTo", htmlAttributes: new { @class = "g-control-label" })
                                                                <div class="group-input">
                                                                    <input name="ValidTo" onclick="closeSelf();" id="ValidTo" class="form-control" type="date" required="required" style="max-width:100%" />
                                                                </div>
                                                            </div>


                                                        </div>

                                                    </form>

                                                    <hr />
                                                    <div claa="modal-footer">
                                                        <button id="btn-cancel">
                                                            <a href="@Url.Action("Edit","Employees",
                                                            new { id = ViewBag.id , firstName = ViewBag.firstName, middleName =  ViewBag.middleName, lastname =ViewBag.lastName, birthDate = ViewBag.birthDate})" class="btn btn-default" data-dismiss="modal">Cancel</a>
                                                        </button>
                                                        @*<a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>*@
                                                        <input type="submit" name="submit2" value="Accept" id="btn btn-success" style="color:#fff; background-color:#0088c1" />
                                                        
                                                    </div>
                                                </div>
                                                @*<div class="paging paging-content">
                                                    <div class="btn-container">
                                                        <button id="btn-cancel">
                                                            <a href="@Url.Action("Edit","Employees",
                                    new { id = ViewBag.id , firstName = ViewBag.firstName, middleName =  ViewBag.middleName, lastname =ViewBag.lastName, birthDate = ViewBag.birthDate})">Cancel</a>
                                                        </button>
                                                        
                                                    </div>
                                                </div>*@
                                            </div>
                                            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                                            <script>
                                                $(document).ready(function () {
                                                    function closeSelf() {
                                                        // do something


                                                        document.forms['certform'].submit();
                                                        window.close();
                                                    }
}

                                                    $("#form").submit(function () {
                                                        alert("thanh cong");
                                                        document.getElementById("form").style.display = "none";
                                                    });

                                                });
                                            </script>
                                        }
                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="grid">
                    <table>
                        <colgroup>
                            <col width="50" />
                            <col width="150" />
                            <col width="150" />
                            <col width="100" />
                            <col width="200" />
                            <col width="300" />
                        </colgroup>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Institution</th>
                                <th>City</th>
                                <th>Valid Form</th>
                                <th>Valid To</th>
                                <th>Is Valid?</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 0;}
                            @foreach (TestWeb.Models.ListQualification it in Model)
                            {
                                <tr>
                                    <td>
                                        @(i+1)
                                    </td>
                                    <td>

                                        @it.Name
                                    </td>

                                    <td>
                                        @it.Institution
                                    </td>
                                    <td>
                                        @it.City
                                    </td>
                                    <td>
                                        @it.ValidFrom.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        @it.ValidTo.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        @if (it.IsValid)
                                        {
                                            <div class="icon-common icon-valid"></div>
                                        }
                                        else
                                        {
                                            <div class="icon-common icon-not-valid"></div>
                                        }
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div> <!--List Qualification of Employee-->

                <div class="paging">
                    @Html.PagedListPager(Model, page => Url.Action("Edit", "Employees",
                     new { id = ViewBag.id, firstName = ViewBag.firstName, middleName = ViewBag.MiddleName, lastName = ViewBag.lastName, birthDate = ViewBag.birthDate, page }))
                </div>
            </div>
        }
    </div>

    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {


            $("form").submit(function () {
               

            });
        });
    </script>*@
</body>
</html>